@charset "utf-8";


body {
    overflow-x: hidden;
}

header {
    width: 100%;
    align-items: center;
    position: relative;
}

.toggle {
    position: fixed;
    top: 50px;
    right: 40px;
    box-sizing: border-box;
    z-index: 5555;
}

.toggle span {
    background-color: var(--bgcolor02);
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px;
    transition: 0.3s;
}

.none {
    display: none!important;
}

.first {
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 0px;

}

.three {
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    right: 0px;
}

header::after {
    padding: 100%;
}
    
header > h1 {
    width: 250px;
}

header > h1 img {
    width: 100%;
}

.flex {
    display: flex;
}


footer {
    width: 100%;
    padding-bottom: 50px;
}

.gnb {
    display: none;
}


.gnb li {
    padding: 0px 15px;
}


.sub {
    position: absolute;
    margin-top: 7px;
    padding: 5px;
    display: none;
    background-color: rgba(255, 255, 255, .5);
    z-index: 100000;

}

.sub li {
    padding: 8px 0px;
    width: 140px;
    font-size: var(--t-size01);
}

.sub li:hover a {
    color: var(--t-color03);
    font-weight: bold;
}

.on {
    background: var(--bgcolor02) !important;
}

footer article {
    max-width: 1260px;
    margin: 0px auto;
}

footer ul li {
    padding: 10px 0px 10px 40px;
    font-size: 20px;
}

.subs {
    margin-top: 35px;
    padding-left: 40px;
    align-items: center;
    justify-content: left;

}


#subs_email {
    max-width: 250px;
    height: 45px;
    padding: 0px;
    border: none;
    text-indent: 5px;
    font-size: 1rem;
}

#subs_btn {
    width: 70px;
    height: 45px;
    padding: 0px;
    background: var(--bgcolor02);
    color: var(--t-color01);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border: none;

}   

footer address {
    font-style: normal;
    color: var(--t-color01);
    margin-top: 35px;
    padding-left: 40px;
    font-size: 20px;
}

footer .top_btn {
    position: fixed;
    width: 25px;
    height: 35px;
    right: 20px;
    bottom: 120px;
    z-index: 4000;
    transform: rotate(270deg);
    padding: 10px 15px;
    border: 5px solid var(--t-color03);
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
